.mainWrap {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
  background: #f8f7fc;
  width: 100vw;
}
.content {
  flex: 3;
  padding: 40px 48px 40px 48px;
  width: 100%;
  margin: 0;
  box-sizing: border-box;
}
.side {
  width: auto;
}
@media (max-width: 900px) {
  .content {
    padding: 24px 8px;
  }
}
@media (max-width: 600px) {
  .mainWrap {
    flex-direction: column;
  }
  .content {
    padding: 12px 2vw;
  }
}
